
body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./../images/background.png);
    color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    color: #4CAF50;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
}

th, td {
    padding: 2px;
    text-align: center;
    border: 1px solid #ffffff;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

tr:hover {
    background-color: #222;
}

/* Form */
form {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}